
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');



:root{
    --color-white: white;
    --color-black: black;
}

*, *::after, *::before{
    box-sizing: border-box;
}

*{
    font-size: 62.5%;
    overflow: hidden;
    border: 0;
    margin: 0;
    padding: 0;
}

#bg{
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}

/* header{
    padding: 0 2rem;
} */

ul{
    display: flex;
    justify-content: space-between;
}

li{
    display: flex;
    border: solid var(--color-white) 1px;
    border-radius: 20px;
}


a{
    font-family: 'Fredoka One', cursive;
    color: var(--color-white);
    text-decoration: none;
    font-size: 2rem;
    padding: 5px;
}

a:hover {
    background: var(--color-white);
    color: #000;
}

li:hover {
    border: solid var(--color-black) 1px;
}

.toggle-button{
    display: flex;
    justify-content: flex-end;
    padding: 2rem;
}

i{
    font-size: 4rem;
    color: var(--color-white);
    text-shadow: 2px 2px 5px gray;
    padding: 5px;
}

.dropdown-menu{
    display: none;
}

.dropdown-menu.open{
    display: block;
    padding: 0 3rem;
}